@model Learn01.Models.Bid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FwdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FwdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FwdRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FwdRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountBid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountBid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CouponAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchRef)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
